body {
  color: #ffdf9e;
  background-color: #b77171;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
  font-size: calc(100vw / 1920 * 10);
}

h1 {
  margin: 0;
  padding: 0;
}

.contaner {
  margin: 2rem auto;
  width: 65vw;
  padding: 1.5rem;
  border-radius: 1%;
  background: #4a4848;
}
.title {
  /* font-size: 45px; */
  /* font-size: clamp(1.813rem, 0.719rem + 3.5vw, 3.563rem); */
  /* font-size: clamp(1.5rem, 0.827rem + 3.37vw, 3.563rem); */
  /* font-size: clamp(1.25rem, 0.944rem + 1.53vw, 2.188rem); */
  font-size: clamp(7rem, 5.412rem + 5.65vw, 10rem);
}

input {
  display: none;
}
.radio label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.8rem;
}
.radio {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.radio label span {
  border-radius: 50%;
  background-color: #9b8282;
  border: 0.2rem solid rgb(198, 203, 191);
  transition: background-color 0.5s ease;
  cursor: pointer;
  display: block;
  width: 1.3rem;
  height: 1.3rem;
}
.radio label:hover span {
  background-color: #ffffff;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
}
.botom {
  flex: 0 0 80%;
}
.radio {
  flex: 0 0 17%;
  width: 20%;
}

.slid_img {
  flex: 0 0 100%;
  background-color: #b3b3b3;
  overflow: hidden;
  border-radius: 3%;
  height: 55rem;
}
.slides {
  display: flex;
  transition: transform 0.2s ease;
}
.imgs {
  width: 100%;
  display: inline-block;

  height: 55rem;
  flex-shrink: 0;
  object-fit: fill;
}
.header {
  text-align: center;
  padding: 1.5rem;
}

.botom_wrap {
  width: 70%;
  overflow: hidden;
}
.text_wrap {
  display: flex;
  align-items: center;
  transition: transform 0.2s ease;
}
.text_wrap p {
  font-size: 3.8rem;
  /* font-size: clamp(0.875rem, 0.142rem + 1.36vw, 1.25rem); */
  flex: 0 0 100%;
  margin: 0;
  padding: 0;
}

#slide1:checked ~ .slid_img .slides,
#slide1:checked ~ .botom .botom_wrap .text_wrap {
  transform: translateX(0);
}
#slide2:checked ~ .slid_img .slides,
#slide2:checked ~ .botom .botom_wrap .text_wrap {
  transform: translateX(-100%);
}

#slide3:checked ~ .slid_img .slides,
#slide3:checked ~ .botom .botom_wrap .text_wrap {
  transform: translateX(-200%);
}

#slide4:checked ~ .slid_img .slides,
#slide4:checked ~ .botom .botom_wrap .text_wrap {
  transform: translateX(-300%);
}

#slide1:checked ~ .radio #radio-slide1 span,
#slide2:checked ~ .radio #radio-slide2 span,
#slide3:checked ~ .radio #radio-slide3 span,
#slide4:checked ~ .radio #radio-slide4 span {
  border: 0.1rem solid greenyellow;
  background-color: #d21212;
}

@media (max-width: 1024px) {
}
@media (max-width: 767px) {
  html {
    font-size: calc(100vw / 500 * 5);
  }
  .wrap {
    flex-direction: column;
    align-items: center;
  }

  .botom {
    order: 3;
  }
  .radio {
    order: 2;
  }
  .contaner {
    width: 92vw;
  }
}
